{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Meu Estacionamento Online</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Estacionamento 24 horas</h1>
                <span>O seu estacionamento online!</span>
            </div>
            <div class="col-6">
                <img src="{% static 'img/car.png' %}" alt="Estacionamento 24 horas">
            </div>
        </div>
        {% include 'website/menu.html' %}
        {% block main %}
        {% endblock %}
        {% include 'website/footer.html'%}
    </div>
</body>
</html>