{% extends 'website/base.html' %}
{% load static %}

{% block main %}
    <div class="row">
        <div class="col-12">
            Mussum Ipsum, cacilds vidis litro abertis. Aenean aliquam molestie leo, vitae iaculis nisl. 
            Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis. 
            Delegadis gente finis, bibendum egestas augue arcu ut est. Interessantiss quisso pudia ce receita de bolis, 
            mais bolis eu num gostis.

            Interagi no mé, cursus quis, vehicula ac nisi. Praesent vel viverra nisi. Mauris aliquet nunc non turpis 
            scelerisque, eget. Leite de capivaris, leite de mula manquis sem cabeça. Nullam volutpat risus nec leo commodo, 
            ut interdum diam laoreet. Sed non consequat odio.

            Quem num gosta di mé, boa gentis num é. Mé faiz elementum girarzis, nisi eros vermeio. Casamentiss faiz malandris 
            se pirulitá. A ordem dos tratores não altera o pão duris.

            Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Diuretics paradis num copo é 
            motivis de denguis. Sapien in monti palavris qui num significa nadis i pareci latim. Tá deprimidis, eu conheço 
            uma cachacis que pode alegrar sua vidis.
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-8">
            Mussum Ipsum, cacilds vidis litro abertis. Aenean aliquam molestie leo, vitae iaculis nisl. 
            Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis. 
            Delegadis gente finis, bibendum egestas augue arcu ut est. Interessantiss quisso pudia ce receita de bolis, 
            mais bolis eu num gostis.

            Interagi no mé, cursus quis, vehicula ac nisi. Praesent vel viverra nisi. Mauris aliquet nunc non turpis 
            scelerisque, eget. Leite de capivaris, leite de mula manquis sem cabeça. Nullam volutpat risus nec leo commodo, 
            ut interdum diam laoreet. Sed non consequat odio.

            Quem num gosta di mé, boa gentis num é. Mé faiz elementum girarzis, nisi eros vermeio. Casamentiss faiz malandris 
            se pirulitá. A ordem dos tratores não altera o pão duris.

            Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Diuretics paradis num copo é 
            motivis de denguis. Sapien in monti palavris qui num significa nadis i pareci latim. Tá deprimidis, eu conheço 
            uma cachacis que pode alegrar sua vidis.
        </div>

        <div class="col-4">
            <img src="{% static 'img/car.png' %}" alt="Minha imagem">
        </div>
    </div>
{% endblock %}