{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
    <div class="row">
        <div class="col-sm-12">
            <h2>Updating Movimento Mensalista: {{ movMensalista }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <form action="{% url 'core_movMensalista_update' movMensalista.id %}" method="POST">
                {% csrf_token %}

                {{ form|bootstrap }}

                <button type="submit" class="btn btn-primary">Salvar</button>
                <a href="{% url 'core_movMensalista_delete' movMensalista.id %}" class="btn btn-danger">Deletar</a>
            </form>

        </div>
    </div>
    
{% endblock %}